<div mat-dialog-title>
    <h1>{{data ? 'Edit': 'Add'}} Professional Form</h1>
</div>
<form [formGroup]="formProfessional" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Username:</mat-label>
                <input matInput type="text" placeholder="i.e Abcd1234" formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mail:</mat-label>
                <input matInput type="email" placeholder="i.e david@gmail.com" formControlName="mail">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Phone Number:</mat-label>
                <input matInput type="text" placeholder="i.e Abcd1234" formControlName="phoneNumber">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Hobby:</mat-label>
                <input matInput type="text" placeholder="i.e Abcd1234" formControlName="hobby">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>skillset:</mat-label>
                <input matInput type="text" placeholder="i.e Abcd1234" formControlName="skillset">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action-btns">
        <button style="margin: 10px;" mat-raised-button color="accent" type="submit">{{data ? 'Update': 'Save'}}</button>
        <button mat-raised-button type="button" color="warn" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>