<!-- The toolbar of our app -->
<mat-toolbar color="accent">
  <span color="basic">CDN IT Professionals</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="openAddDialog()">ADD PROFESSIONAL</button>
</mat-toolbar>
<!-- The body of our app -->
<div class="main-body">
  <!-- The details table -->
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-column"> ID </th>
        <td mat-cell *matCellDef="let row" class="hidden-column"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let row"> {{row.username}}</td>
      </ng-container>
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mail </th>
        <td mat-cell *matCellDef="let row"> {{row.mail}}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
        <td mat-cell *matCellDef="let row"> {{row.phoneNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="hobby">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hobby </th>
        <td mat-cell *matCellDef="let row"> {{row.hobby}}</td>
      </ng-container>
      <ng-container matColumnDef="skillset">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> skillset </th>
        <td mat-cell *matCellDef="let row"> {{row.skillset}}</td>
      </ng-container>
      <ng-container matColumnDef="createDateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created DateTime </th>
        <td mat-cell *matCellDef="let row"> {{row.createDateTime}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <span (click)="openEditDialog(row)" class="action-icon" style="margin-right: 5px;">
            <mat-icon color="basic">edit</mat-icon>
          </span>
          <span (click)="deleteProfessional(row.id)" class="action-icon">
            <mat-icon color="warn">delete</mat-icon>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
  </div>
</div>